<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="channelsRabbitMQ" type="Channels.RabbitMQ.Configuration.ChannelsRabbitMQConfigurationSection, Channels.RabbitMQ"/>
  </configSections>
  <channelsRabbitMQ>
    <!--<broker
      requestedHearthbeatSeconds="1"
      requestedFrameMaxBytes="2"
      continuationTimeoutMillis="3"
      handshakeContinuationTimeoutMillis="4"
      networkRecoveryIntervalMillis="5"
      requestedChannelMaxCount="6"
      requestedConnectionTimeoutMillis="7"
      socketReadTimeoutMillis="8"
      socketWriteTimeoutMillis="9"
        />-->
    <connection
      hostName="code.test.aliaslab.net"
      virtualHost="channels-lib"
      port="5672"
      userName="admin"
      password="admin"
      >
      <hostNamesPool>
      </hostNamesPool>
    </connection>
      
  </channelsRabbitMQ>
</configuration>